### Loading required liabraries

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import urllib.request

In [14]:
# Get the latest data
!git clone https://github.com/CSSEGISandData/COVID-19
!git clone

Cloning into 'COVID-19'...
remote: Enumerating objects: 28, done.
remote: Counting objects: 100% (28/28), done.
remote: Compressing objects: 100% (15/15), done.
remote: Total 25888 (delta 15), reused 22 (delta 13), pack-reused 25860
Receiving objects: 100% (25888/25888), 117.48 MiB | 668.00 KiB/s, done.
Resolving deltas: 100% (14522/14522), done.

### Creating and loading the DataFrame

In [15]:
import pandas as pd
url="https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
df = pd.read_csv(url)
df.head(20)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,2335,2469,2704,2894,3224,3392,3563,3778,4033,4402
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,782,789,795,803,820,832,842,850,856,868
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,4154,4295,4474,4648,4838,4997,5182,5369,5558,5723
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,745,747,748,750,751,751,752,752,754,755
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,30,35,35,35,36,36,36,43,43,45
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,25,25,25,25,25,25,25,25,25,25
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,4532,4681,4783,4887,5020,5208,5371,5611,5776,6034
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,2148,2273,2386,2507,2619,2782,2884,3029,3175,3313
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,106,106,106,107,107,107,107,107,107,107
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,3030,3035,3033,3035,3042,3044,3047,3051,3053,3053
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,27,29,29,29,29,29,29,29,29,29
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,1034,1035,1038,1043,1043,1045,1045,1045,1045,1045
12,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,438,438,438,438,438,438,439,439,439,439
13,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,221,221,221,221,225,226,227,227,227,227
14,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,1371,1384,1406,1423,1440,1454,1467,1468,1487,1496
15,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,551,551,551,551,551,551,552,552,552,552
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,15531,15558,15597,15621,15650,15684,15752,15774,15833,15871
17,NaN,Azerbaijan,40.1431,47.5769,0,0,0,0,0,0,...,1854,1894,1932,1984,2060,2127,2204,2279,2422,2519
18,NaN,Bahamas,25.0343,-77.3963,0,0,0,0,0,0,...,81,83,83,83,89,92,92,92,92,92
19,NaN,Bahrain,26.0275,50.5500,0,0,0,0,0,0,...,3170,3284,3383,3533,3720,3934,4199,4444,4774,4941

In [1]:
africa = ['Algeria','Angola','Benin','Botswana','Burkina Faso','Burundi', 'Cabo Verde', 'Cameroon','Chad', 'Mozamibue','Congo (Brazzaville)',
          'Central African Republic', "Cote d'Ivoire", 'Congo (Kinshasa)','Egypt','Equatorial Guinea', 'Eritrea','Eswatini','Ethiopia','Ghana','Guinea',
          'Guinea-Bissau','Kenya','Liberia','Rwanda','Libya','Madagascar','Mauritius','Morocco','Mozambique','Namibia','Niger','Nigeria','Seychelles',
          'Tanzania','Togo','Sierra Leone', 'Malawi', 'South Sudan','Tunisia','Uganda','Senegal','South Africa','Sudan','Western Sahara','Zambia', 'Zimbabwe']