# LOADING REQUIRED LIABRARIES

In [1]:
import pandas as pd
import numpy as np
#import requests
#from bs4 import BeautifulSoup
#import urllib.request

# CREATING AND LOADING DATAFRAMES

### Loading and creating a DataFrame for confirmed cases

In [2]:
pd.set_option('display.max_rows', None)
url="https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
confirmed = pd.read_csv(url)
confirmed.head(1)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20
0,NaN,Afghanistan,33.0,65.0,0,0,0,0,0,0,...,2704,2894,3224,3392,3563,3778,4033,4402,4687,4963

### Loading and creating a DataFrame for  number recoveries

In [3]:
url2 ="https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"
recoveries = pd.read_csv(url2)
recoveries.head(1)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20
0,NaN,Afghanistan,33.0,65.0,0,0,0,0,0,0,...,345,397,421,458,468,472,502,558,558,610

### Loading and creating a DataFrame for number of deaths

In [4]:
url3="https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
deaths = pd.read_csv(url3)
deaths.head(1)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20
0,NaN,Afghanistan,33.0,65.0,0,0,0,0,0,0,...,85,90,95,104,106,109,115,120,122,127

### Restructuring the confirmed cases DataFrame

In [5]:
africa = ['Algeria','Angola','Benin','Botswana','Burkina Faso','Burundi', 'Cabo Verde', 'Cameroon','Chad', 'Mozamibue','Congo (Brazzaville)',
          'Central African Republic', "Cote d'Ivoire", 'Congo (Kinshasa)','Egypt','Equatorial Guinea', 'Eritrea','Eswatini','Ethiopia','Ghana','Guinea',
          'Guinea-Bissau','Kenya','Liberia','Rwanda','Libya','Madagascar','Mauritius','Morocco','Mozambique','Namibia','Niger','Nigeria','Seychelles',
          'Tanzania','Togo','Sierra Leone', 'Malawi', 'South Sudan','Tunisia','Uganda','Senegal','South Africa','Sudan','Western Sahara','Zambia', 'Zimbabwe']

In [6]:
confirmed = confirmed.drop(['Lat', 'Long'], axis=1)
ncountries = confirmed['Country/Region'].unique().tolist()

confirmed_cases = pd.DataFrame()
for i, country in enumerate(africa):#enumerate(ncountries):
    positive_cases = confirmed[confirmed['Country/Region'] == country].copy()
    if len(positive_cases) > 1:
        positive_cases = positive_cases.drop(['Province/State'], axis=1).groupby('Country/Region').sum().reset_index()
    else:
        positive_cases = positive_cases.drop(['Province/State'], axis=1)
        
    positive = positive_cases.melt(id_vars=["Country/Region"], 
                    var_name="Date",
                    value_name="confirmed_cases")
    positive = positive.rename({'Country/Region': 'country', 'Date': 'date'}, axis=1)
    confirmed_cases = confirmed_cases.append(positive )
    
confirmed_cases['date'] = pd.to_datetime(confirmed_cases['date'])
confirmed_cases.head()

   country       date  confirmed_cases
0  Algeria 2020-01-22                0
1  Algeria 2020-01-23                0
2  Algeria 2020-01-24                0
3  Algeria 2020-01-25                0
4  Algeria 2020-01-26                0

In [7]:
#dropping the days with 0 confirmed cases

confirmed_cases = confirmed_cases[confirmed_cases.confirmed_cases != 0]
confirmed_cases.head()

    country       date  confirmed_cases
34  Algeria 2020-02-25                1
35  Algeria 2020-02-26                1
36  Algeria 2020-02-27                1
37  Algeria 2020-02-28                1
38  Algeria 2020-02-29                1

In [8]:
#resetting indexes
confirmed_cases = confirmed_cases.reset_index(drop=True)
confirmed_cases.head()

   country       date  confirmed_cases
0  Algeria 2020-02-25                1
1  Algeria 2020-02-26                1
2  Algeria 2020-02-27                1
3  Algeria 2020-02-28                1
4  Algeria 2020-02-29                1

### Restructuring the number of recoveries DataFrame

In [9]:
recoveries = recoveries.drop(['Lat', 'Long'], axis=1)
ncountries = recoveries['Country/Region'].unique().tolist()

recovered = pd.DataFrame()
for i, country in enumerate(africa):#enumerate(ncountries):
    recover_no = recoveries[recoveries['Country/Region'] == country].copy()
    if len(recover_no) > 1:
        recover_no = recover_no.drop(['Province/State'], axis=1).groupby('Country/Region').sum().reset_index()
    else:
        recover_no = recover_no.drop(['Province/State'], axis=1)
        
    negetive = recover_no.melt(id_vars=["Country/Region"], 
                    var_name="Date",
                    value_name="number_recoveries")
    negetive = negetive.rename({'Country/Region': 'country', 'Date': 'date'}, axis=1)
    recoveries = recoveries.append(negetive )
    
recovered['date'] = pd.to_datetime(recovered['date'])
#recovered.head()

KeyError: 'date'