## 1. Importing libraries

In [1]:
#importing required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## 2. Importing datasets

In [2]:
#Reading in data 
## Testing data

#Confirmed provincial cummulative  tests         
df5 = pd.read_csv('./../data/raw/covid19za_timeline_testing.csv', sep= ',')

#Confirmed national cummulative confirmed positive tests         
df6 = pd.read_csv('./../data/raw/time_series_covid19_confirmed_global.csv', sep= ',')
sa_con=df6[df6['Country/Region'] == 'South Africa']

#Confirmed national cummulative confirmed deaths         
df7 = pd.read_csv('./../data/raw/time_series_covid19_deaths_global.csv', sep= ',')
sa_death=df7[df7['Country/Region'] == 'South Africa']

#Confirmed national cummulative confirmed revovered tests         
df8 = pd.read_csv('./../data/raw/time_series_covid19_recovered_global.csv', sep= ',')
sa_recovd=df8[df8['Country/Region'] == 'South Africa']

In [3]:
## Hospital data

#List of hospitals in each povince
pd.set_option('display.max_rows', None)
url="https://github.com/dsfsi/covid19za/blob/master/data/health_system_za_hospitals_v1.csv"
confirmed = pd.read_csv(url)
confirmed

#Number of hospital beds per province

ParserError: Error tokenizing data. C error: Expected 1 fields in line 49, saw 2

## 3.EDA

In [4]:
#Dropping unwanted columns

#Confirmed national cummulative confirmed positive tests 
sa_con = sa_con.drop(['Lat', 'Long','Province/State'], axis=1)

#Confirmed national cummulative confirmed deaths 
sa_death = sa_death.drop(['Lat', 'Long','Province/State'], axis=1)

#Confirmed national cummulative confirmed recovered
sa_recovd = sa_recovd.drop(['Lat', 'Long','Province/State'], axis=1)

In [5]:
#Creating one column for dates

#Creating date column for sa_con dataframe
dfc1 = sa_con.melt(id_vars=["Country/Region"], 
                    var_name="Date",
                    value_name="cases")
dfc1 = dfc1.rename({'Country/Region': 'country', 'Date': 'date'}, axis=1)
sa_con = dfc1
sa_con['date'] = pd.to_datetime(sa_con['date'])

#Creating date column for sa_death dataframe
dfc2 = sa_death.melt(id_vars=["Country/Region"], 
                    var_name="Date",
                    value_name="cases")
dfc2 = dfc2.rename({'Country/Region': 'country', 'Date': 'date'}, axis=1)
sa_death = dfc2
sa_death['date'] = pd.to_datetime(sa_death['date'])

#Creating date column for sa_recovd dataframe
dfc3 = sa_recovd.melt(id_vars=["Country/Region"], 
                    var_name="Date",
                    value_name="cases")
dfc3 = dfc3.rename({'Country/Region': 'country', 'Date': 'date'}, axis=1)
sa_recovd = dfc3
sa_recovd['date'] = pd.to_datetime(sa_recovd['date'])

In [7]:
df5

,date,YYYYMMDD,cumulative_tests,recovered,hospitalisation,critical_icu,ventilation,deaths,contacts_identified,contacts_traced,scanned_travellers,passengers_elevated_temperature,covid_suspected_criteria
0,11-02-2020,20200211,61.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
1,13-02-2020,20200213,67.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
2,14-02-2020,20200214,71.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
3,19-02-2020,20200219,95.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
4,20-02-2020,20200220,106.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
5,24-02-2020,20200224,116.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
6,26-02-2020,20200226,121.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
7,02-03-2020,20200302,160.0,0,NaN,0.0,0.0,0,NaN,NaN,13731.0,0.0,0.0
8,03-03-2020,20200303,164.0,0,NaN,0.0,0.0,0,NaN,NaN,11025.0,0.0,0.0
9,06-03-2020,20200306,200.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
10,07-03-2020,20200307,241.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
11,11-03-2020,20200311,645.0,0,NaN,0.0,0.0,0,NaN,NaN,22061.0,0.0,0.0
12,12-03-2020,20200312,848.0,0,NaN,0.0,0.0,0,NaN,NaN,28493.0,1.0,2.0
13,13-03-2020,20200313,924.0,0,NaN,0.0,0.0,0,NaN,NaN,28633.0,1.0,2.0
14,14-03-2020,20200314,1017.0,0,NaN,0.0,0.0,0,NaN,NaN,28087.0,0.0,0.0
15,15-03-2020,20200315,1476.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
16,16-03-2020,20200316,2405.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
17,17-03-2020,20200317,2911.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
18,18-03-2020,20200318,3070.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
19,19-03-2020,20200319,4832.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
20,20-03-2020,20200320,6438.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
21,21-03-2020,20200321,7425.0,0,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
22,22-03-2020,20200322,9315.0,1,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
23,23-03-2020,20200323,12815.0,1,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
24,24-03-2020,20200324,15529.0,2,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN
25,25-03-2020,20200325,NaN,4,NaN,2.0,0.0,0,NaN,NaN,NaN,NaN,NaN
26,26-03-2020,20200326,20471.0,4,NaN,2.0,0.0,0,NaN,NaN,NaN,NaN,NaN
27,27-03-2020,20200327,28537.0,31,55.0,4.0,3.0,1,4407.0,3645.0,NaN,NaN,NaN
28,28-03-2020,20200328,31963.0,31,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
29,29-03-2020,20200329,35593.0,31,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
30,30-03-2020,20200330,38409.0,31,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN
31,31-03-2020,20200331,41072.0,31,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN
32,01-04-2020,20200401,44292.0,31,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN
33,02-04-2020,20200402,47965.0,45,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN
34,03-04-2020,20200403,50361.0,45,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN
35,04-04-2020,20200404,53937.0,45,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN
36,05-04-2020,20200405,56873.0,45,NaN,10.0,NaN,11,NaN,NaN,NaN,NaN,NaN
37,06-04-2020,20200406,58098.0,45,NaN,10.0,NaN,12,NaN,NaN,NaN,NaN,NaN
38,07-04-2020,20200407,NaN,45,NaN,10.0,NaN,13,NaN,NaN,NaN,NaN,NaN
39,08-04-2020,20200408,63776.0,45,NaN,10.0,NaN,18,NaN,NaN,NaN,NaN,NaN
40,09-04-2020,20200409,68874.0,45,NaN,10.0,NaN,18,NaN,NaN,NaN,NaN,NaN
41,10-04-2020,20200410,73028.0,410,NaN,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN